:root {
    /* Colors */
    --noir:#000000;
    --dark-blue: #000043;
    --violet:#3d21d4;
    --light-pink:#ff6699!important;
    --soft-pink:#E34879!important;
    --white:#fafafa;
    --light-grey: rgb(241, 241, 241);
    --grey:#808080;

    /* Font & weight sizes */
    --font-size-small:16px;
    --font-size-medium:18px;
    --font-size-big:36px;

    --font-weight-light:600;
    --font-weight-bold:700;
}