.contact-me {
    margin: 150px;
}

.left-side {
    text-align: center;
    margin: 2rem;
}

.left-side h2 {
    padding-bottom: 2rem;
}

.left-side p {
    text-align: left;
    font-weight: var(--font-weight-light);
}

.inline-name {
    display: flex;
}

div.inline {
    width: 100%;
}

div.inline:nth-child(1) {
    padding-right: 2rem;
    width: 415px;
}

.contact-grid {
    width: auto;
    height: auto;
    display: grid;
    gap: 0;
    align-items: center;
    justify-items: center;
    grid-auto-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
}

.contact-grid > div {
    height: 100%;
}

div.form-row {
    padding-bottom: 2rem;
}



.form-control {
    max-width: 800px;
}

.form-control:focus {
    border-color: var(--light-pink);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--soft-pink);
}
