/********************IMPORTS ET POLICES*********************/

@import url('../scss/styles.scss');

@font-face {
    font-family: 'Roboto';
    src: url('../autres/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../autres/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

/**********************ELEMENTS BASE PAGE*********************/

body {
    min-height: 100%;
    height: auto;
    width: 100%;
    background-color: var(--white);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    color: var(--main-color);
}

a, p, span {
    font-family: "Open Sans", sans-serif;
}

p {
    color: var(--text-color);
    font-size: var(--font-size-medium);
}

h2 {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-big);
}

li {
    list-style: none;
    text-align: left;
}

span {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    color: var(--white);
}

a {
    color: var(--link-color);
    text-decoration: none;
}