main {
    margin: 80px;
}

.contact-me {
    margin-top: 200px;
    margin-bottom: 2rem;
}

.contact-grid {
    height: auto;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form > div {
    padding-bottom: 2rem;
}

.inline-name {
    display: flex;
    align-items: center;
}

.inline-name > .form-group {
    padding-right: 1rem;
}

.form-control:focus {
    border-color: var(--light-pink);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--soft-pink);
}

textarea {
    resize: none;
}

@media (max-width: 768px) {

    main {
        margin: 20px;
    }

    .contact-me {
        margin: 1rem;
    }

    .contact-grid {
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }

    .inline-name {
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 1fr;
    }

    .left-side h2 {
        text-align: center;
    }

    .left-side p {
        text-align: justify;
    }
}