section {
    padding: 4rem
}

section > div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

section p {
    text-align: justify;
}

section h2 {
    text-align: left;
    padding-bottom: 1rem;
}

/********************NAVIGATION*********************/

.navbar {
    --bs-navbar-padding-y: 1rem;
    width: 100%;
    background-color: var(--ultra-white);
    height: 95px;
}

.navbar-brand {
    font-weight: var(--font-weight-normal);
    font-size: 25px;
    color: var(--main-color);
}

/*************************FOOTER************************/

.footer {
    overflow: hidden;
    width: 100%;
    background-color: var(--main-color);
}

.footer-navigation {
    padding: 3rem 0;
    display: flex;
    height: auto;
}

div.footer-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.logo-container {
    display: inline-flex;
}

.logo {
    text-align: center;
    padding: 3rem;
}

.logo-container img {
    margin: auto 0;
}

.logo-container span {
    font-size: var(--font-size-big);
    padding-left: 1rem;
}

.text-decoration-none {
    color: var(--link-color);
    line-height: 2rem;
    font-weight: var(--font-weight-normal)
}

.site-socials {
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}

.social-container {
    display: flex;
}

div.circle {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    margin: 2rem;
}

div.circle:nth-child(1):hover {
    background-color: #0165E1;
}

div.circle:nth-child(3):hover {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.x-logo-img {
    width: 40px;
    height: 40px;
}

.copyrights {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: #000000;
}

.copyrights span {
    font-size: 15px;
    font-weight: 500;
}
