//////////////// Couleurs ////////////////
$black:#000000;
$dark-blue: #000057;
$navy-blue : #0000B6;
$violet:#3d21d4;
$light-pink:#ff6699;
$soft-pink:#E34879;
$white:#fafafa;
$ultra-white: #ffffff;
$light-grey: rgb(241, 241, 241);
$grey:#808080;

/////////////// Couleurs de fond et autres //////////////
$bg-color: $white;
$bg-section-color: $light-grey;
$main-color: $dark-blue;
$text-color: $grey;
$link-color: $white;
$link-register: $navy-blue;
$btn-color: $light-pink;
$btn-color-hover: $soft-pink;

/////////////// Tailles de polices ///////////////
$font-size-small:15px;
$font-size-medium:18px;
$font-size-big:36px;

//////////////// Weight de la police //////////////
$font-weight-light: 400;
$font-weight-normal:600;
$font-weight-bold:700;
